<!-- data.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css" type="text/css"> <!--style.css 파일 적용.-->
    <title>Document</title>
</head>

<body>
    
    <div id="test_block"><h2>테스트 블록</h2></div> <!--css 블록 테스트-->

   

    <% for(var i = 0; i < data[0].length; i++) {%>
        <p>
            <h1><%= data[0][i] %> <%= data[1][i] %> <%= data[2][i] %>일 남았습니다.</h1>
        </p>
        
        <h2> <%= data[0][i] %> 에 추천하는 활동 목록입니다.</h2> <!--recommend activity 추가파트 시작-->
        <h4>1. 가나다 </h4>
        <h4>2. 라마바 </h4>
        <h4>2. 라마바 </h4>
    <% } %>

</body>
</html>