<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <h5>공휴일 활동 추천 페이지</h5>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }
    </style>
  </head>
  <body>
    <form>
      <p><input type="date" name="date" value="date"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>